<% content_for :page_title do %>
  Bookmarks!
<% end %>

<div class="container mt-4">
  <h2>ブックマークしたレビュー</h2>

  <% if @bookmarked_posts.any? %>
    <% @bookmarked_posts.each do |post| %>
      <div class="card mb-3 position-relative">
        <div class="row g-0">
          <div class="col-md-4">
            <% if post.image.attached? %>
              <%= image_tag post.image, class: 'img-thumbnail mb-2', size: "200x200" %>
            <% else %>
              <%= image_tag 'Reviewonly.png', class: 'img-thumbnail mb-2', size: "200x200" %>
            <% end %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"><%= truncate(post.review, length: 100) %></p>
              <p class="card-text"><small class="text-muted">Bookmarked at: <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></small></p>
              <p class="card-text"><small class="text-muted">Yes数: <%= post.yes %></small></p>
            </div>
          </div>
          <a href="<%= post_path(post) %>" class="stretched-link"></a>
        </div>
      </div>
    <% end %>
  <% else %>
    <br><h4>まだブックマークされたレビューがないようです…</h4><br>
    <h4>投稿されたレビューの「 <i class="fa-regular fa-bookmark" style="color: #74C0FC;"></i> 」をクリックして
    ブックマークを行ってみましょう。</h4><br>
    <h4><i class="fa-regular fa-bookmark" style="color: #74C0FC;"></i> ─ bookmark! → <i class="fa-solid fa-bookmark" style="color: #74C0FC;"></i></h4>
  <% end %>
</div>
