<div class="container-fluid mt-4">
  <% content_for :page_title do %>
    +Comment
  <% end %>
  <div class="row">
    <!-- 左側のユーザー情報と画像表示 -->
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <% if @post %>
            <h5 class="card-title">ユーザー名: <%= @post.user.user_name %></h5>
            <div class="mb-3">
              <%= image_tag @post.image.attached? ? url_for(@post.image) : 'Reviewonly.png', id: 'image_preview', class: 'img-thumbnail mb-2' %>
            </div>
            <div class="d-flex justify-content-around">
              <% if @post.user == current_user %>
                <div class="text-center">
                  <i class="fas fa-eye"></i>
                  <p><%= @post.view_count >= 1000000 ? 'MAX!' : number_with_delimiter(@post.view_count) %></p>
                </div>
                <div class="text-center">
                  <i class="fas fa-thumbs-up"></i>
                  <p><%= @post.yes >= 1000000 ? 'MAX!' : number_with_delimiter(@post.yes) %></p>
                </div>
                <div class="text-center">
                  <i class="fas fa-comments"></i>
                  <p><%= @post.comments.count >= 1000000 ? 'MAX!' : number_with_delimiter(@post.comments.count) %></p>
                </div>
              <% else %>
                <div class="text-center">
                  <i class="fas fa-thumbs-up yes-icon" data-post-id="<%= @post.id %>"></i>
                  <p class="yes-count"><%= @post.yes >= 1000000 ? 'MAX!' : number_with_delimiter(@post.yes) %></p>
                </div>
                <div class="text-center">
                  <i class="fas fa-bookmark bookmark-icon" data-post-id="<%= @post.id %>"></i>
                </div>
                <div class="text-center">
                  <i class="fas fa-comments"></i>
                  <%= link_to "#{@post.comments.count}件のコメント", post_comments_path(@post), class: 'comment-link' %>
                </div>
              <% end %>
            </div>
          <% else %>
            <p>投稿が見つかりませんでした。</p>
          <% end %>
        </div>
      </div>
    </div>

    <!-- 右側のコメント入力フォーム -->
    <div class="col-md-8">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title">+Comment</h3>
          <%= form_with model: [ @post, @comment ], local: true do |form| %>
            <div class="form-group mb-3">
              <%= form.label :comment_1, "Comment1" %>
              <%= form.select :comment_1, options_for_select(['確かに',
                                                               'そういえば',
                                                               'そうかな…いや、',
                                                               'ん？えーと',
                                                               'あれ、でも',
                                                               'なにぃ!?',
                                                               'そっかぁ。',
                                                               'そうだっけ?',
                                                               'うんうん!',
                                                               'ウホウホ!',
                                                               '結構…',
                                                               '案外…',
                                                               '意外…',
                                                               'まぁね。',]), {}, class: "form-control" %>
            </div>
            <div class="form-group mb-3">
              <%= form.label :comment_2, "Comment2" %>
              <%= form.select :comment_2, options_for_select(['そうだよね!',
                                                               'そうかもしれないね。',
                                                               'そうなのかな…?',
                                                               'そうだったかも。',
                                                               'そんな感じだっけ?',
                                                               'どうかなぁ。',
                                                               'うんうん。',
                                                               'ほっほっほぉ!!',
                                                               'ウッホウホホ!!',
                                                               '…ヘッヘッヘッヘ。',
                                                               '納得。',
                                                               '驚愕。',
                                                               '新視点。',
                                                               'えぇ、うぅん…へへっ…。',]), {}, class: "form-control" %>
            </div>
            <div class="text-end">
              <%= form.submit 'Add Comment!', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>

      <!-- 戻るボタン -->
      <div class="card mb-4">
        <div class="card-body text-center">
          <%= link_to 'レビューへ戻る', post_comments_path(@post), class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>