<div class="container mt-4">
  <% content_for :page_title do %>
    Search Results
  <% end %>

  <% if @posts.any? %>
    <h2>Posts</h2>
    <p><strong>Tags:</strong> <%= @tags.map(&:name).join(', ') %></p>
    <p><strong>Number of posts with the tags:</strong> <%= @posts.count %></p>
    <div class="list-group mb-4">
      <% @posts.each do |post| %>
        <a href="<%= post_path(post) %>" class="list-group-item list-group-item-action">
          <h5><%= post.title %></h5>
          <p><%= truncate(post.review, length: 100) %></p>
        </a>
      <% end %>
    </div>
  <% end %>

  <% if @users.any? %>
    <h2>Users</h2>
    <div class="list-group mb-4">
      <% @users.each do |user| %>
        <a href="<%= user_path(user) %>" class="list-group-item list-group-item-action">
          <h5><%= user.user_name.presence || 'n/a' %></h5>
        </a>
      <% end %>
    </div>
  <% end %>

  <% if @tags.any? %>
    <h2>Tags</h2>
    <div class="list-group mb-4">
      <% @tags.each do |tag| %>
        <div class="list-group-item">
          <h5><%= tag.name %></h5>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @users.none? && @posts.none? && @tags.none? %>
    <p>No results found</p>
  <% end %>
</div>
