<div class="container-fluid mt-4">
  <% content_for :page_title do %>
    All Posts!
  <% end %>

  <!-- ソートフォーム -->
  <div class="row justify-content-center mb-3">
    <div class="col-md-6">
      <%= form_with url: posts_path, method: :get, local: true do %>
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <span>ソート機能:</span>
          <div class="btn-group sort-options" role="group" aria-label="Sort by">
            <input type="radio" class="btn-check" name="sort" id="sort_created_at" value="created_at" autocomplete="off" <%= params[:sort] == 'created_at' || params[:sort].nil? ? 'checked' : '' %>>
            <label class="btn btn-outline-primary" for="sort_created_at">
              <i class="fa-solid fa-calendar-days" style="color: #c8ff00;"></i>
              <span class="sort-text">投稿日時</span>
            </label>
            <input type="radio" class="btn-check" name="sort" id="sort_yes" value="yeses_count" autocomplete="off" <%= params[:sort] == 'yeses_count' ? 'checked' : '' %>>
            <label class="btn btn-outline-primary" for="sort_yes">
              <i class="fa-solid fa-handshake" style="color: #63E6BE;"></i>
              <span class="sort-text">Yes数</span>
            </label>
          </div>
          <div class="btn-group sort-direction" role="group" aria-label="Sort direction">
            <input type="radio" class="btn-check" name="direction" id="direction_desc" value="desc" autocomplete="off" <%= params[:direction] == 'desc' || params[:direction].nil? ? 'checked' : '' %>>
            <label class="btn btn-outline-primary" for="direction_desc">
              <i class="fa-solid fa-arrow-down-wide-short"></i>
            </label>
            <input type="radio" class="btn-check" name="direction" id="direction_asc" value="asc" autocomplete="off" <%= params[:direction] == 'asc' ? 'checked' : '' %>>
            <label class="btn btn-outline-primary" for="direction_asc">
              <i class="fa-solid fa-arrow-up-wide-short"></i>
            </label>
          </div>
          <%= submit_tag 'ソート開始', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <!-- 投稿内容のリスト -->
    <div class="col-md-12">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% hidden_post_ids = user_signed_in? ? current_user.hidden_posts.pluck(:post_id) : [] %>

        <% @posts.each do |post| %>
          <div class="col">
            <div class="card h-100 <%= hidden_post_ids.include?(post.id) ? 'gray-card' : 'post-card' %>" style="<%= hidden_post_ids.include?(post.id) ? '' : "background: linear-gradient(to bottom, #{post.tags.exists?(name: '質問') ? '#99ff99, #e6ffe6' : post.score > 0 ? '#ff99cc, #ffcce4' : '#87ceeb, #bcddeb'});" %>">
              <div class="position-absolute top-0 end-0 m-2 icon-container">
                <% if post.tags.exists?(name: '質問') %>
                  <i class="fa-solid fa-comments fa-2xl icon" style="color: #ffffff;"></i>
                <% else %>
                  <% if post.score > 0 %>
                    <i class="fa-solid fa-thumbs-up fa-2xl icon" style="color: #ffffff;"></i>
                  <% else %>
                    <i class="fa-solid fa-thumbs-down fa-2xl icon" style="color: #ffffff;"></i>
                  <% end %>
                <% end %>
              </div>
              <% if hidden_post_ids.include?(post.id) %>
                <div class="card-body d-flex justify-content-center align-items-center">
                  <i class="fa-solid fa-moon fa-3x" style="color: #ffe687;"></i>
                </div>
              <% else %>
                <div class="card-body d-flex flex-column">
                  <div class="d-flex">
                    <div class="flex-shrink-0">
                      <p class="card-text"><strong>User:</strong> <%= post.user.user_name %></p>
                      <%= image_tag post.image.attached? ? url_for(post.image) : 'Reviewonly.png', class: 'img-thumbnail', style: 'width: 100px; height: auto;' %>
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <%= link_to post_path(post), class: 'stretched-link text-decoration-none' do %>
                        <h4 class="card-title text-dark"><%= post.title %></h4>
                      <% end %>
                      <% if post.tags.exists?(name: '質問') %>
                      <% else %>
                        <p><strong>Rate:</strong> <%= display_rate(post.rate) %></p>
                      <% end %>
                      <p class="card-text"><%= truncate(post.review, length: 100, omission: '...') %></p>
                      <p class="card-text"><strong>Yes:</strong> <%= post.yeses.count %></p>
                      <% if current_user&.admin? %>
                        <p class="card-text"><strong>Nonsence:</strong> <%= post.nonsence %></p>
                      <% end %>
                    </div>
                  </div>
                  <% if user_signed_in? && post.user != current_user %>
                    <div class="mt-auto d-flex justify-content-between">
                      <%= form_with url: nonsence_post_path(post), method: :post, local: true, class: 'warning-form', data: { confirm: 'Nonsenceとしてレビューを隠しますか？' } do %>
                        <button type="submit" class="btn btn-warning warning-button">
                          <div class="diamond">
                            <span class="exclamation">!</span>
                          </div>
                        </button>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <% if current_user&.admin? %>
        <div class="d-flex justify-content-center mt-3">
          <%= submit_tag 'Hide Selected Posts', class: 'btn btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- ページネーション -->
  <div class="d-flex justify-content-center">
    <%= paginate @posts %>
  </div>
</div>
