<div class="container-fluid mt-4">
  <% content_for :page_title do %>
    New Review!
  <% end %>
  <div class="row">
    <!-- 投稿フォーム -->
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <%= form_with model: @post, local: true, html: { multipart: true } do |form| %>
            <div class="row">
              <!-- 左側のユーザー情報と画像アップロードフォーム -->
              <div class="col-md-4">
                <h5 class="card-title">ユーザー名: <%= current_user.user_name %></h5>
                <div class="form-group mb-3">
                  <label for="post_image">添付画像</label>
                  <%= image_tag @post.image.attached? ? url_for(@post.image) : 'Reviewonly.png', id: 'image_preview', class: 'img-thumbnail mb-2' %>
                  <%= form.file_field :image, id: 'post_image', class: 'form-control', onchange: 'previewImage(event)' %>
                </div>
              </div>

              <!-- 右側の入力フォーム -->
              <div class="col-md-8">
                <div class="form-group mb-3">
                  <%= form.label :title, "タイトル", for: "post_title" %>
                  <%= form.text_field :title, id: "post_title", class: "form-control", required: true %>
                </div>
                <div class="form-group">
                  <%= form.label :rate, "評価値", for: "post_rate" %>
                  <%= form.select :rate, options_for_select(1..5), {}, class: "form-control", id: "post_rate" %>
                </div>

                <!-- タグ追加フォーム -->
                <div class="form-group">
                  <%= form.label :tag_list, "追加したいタグを入力 　　※「質問」タグを適用すると、評価値は表示されなくなります。→ ", for: "tag-input" %> <button type="button" id="question-tag-button" class="btn btn-outline-secondary btn-sm">質問</button>
                  <div class="input-group mb-3">
                    <%= form.text_field :tag_list, id: "tag-input", class: "form-control" %>
                    <button type="button" id="add-tag-button" class="btn btn-outline-secondary">タグを追加</button>
                  </div>
                  <div id="tags-container"></div>
                  <!-- hidden field for tag_list -->
                  <%= form.hidden_field :tag_list, id: "tag-list-hidden" %>
                </div>

                <div class="form-group mb-3">
                  <%= form.label :review, "本文", for: "post_review" %>
                  <%= form.text_area :review, rows: 10, id: "post_review", class: "form-control", required: true %>
                </div>
                <div class="form-check mb-3">
                  <%= form.check_box :policy_agreement, { required: true, id: "post_policy_agreement" }, true, false %>
                  <%= form.label :policy_agreement, "ポリシーに同意します", for: "post_policy_agreement" %>
                  <%= link_to "(ポリシーに関してはこちら(別ページへ遷移します。)", about_path %>
                </div>
                <% if @post.errors.any? %>
                  <div class="alert alert-danger">
                    <ul>
                      <% @post.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="text-end">
                  <%= form.submit '投稿を行う', class: 'btn btn-primary' %>
                </div>
              </div>
            </div> <!-- ここでrowを閉じます -->
          <% end %> <!-- ここでform_withを閉じます -->
        </div>
      </div>
    </div>
  </div>
</div>
