<div class="admin-dashboard">
  <div class="admin-users">
    <h2>Registered Users</h2>
    <ul>
      <% if @users.present? %>
        <% @users.each do |user| %>
          <li>
            <p>Username: <%= user.user_name %></p>
            <p>Email: <%= user.email %></p>
            <p>Review Count: <%= user.posts.count %></p>
            <%= link_to 'Delete', destroy_user_admins_dashboard_path(user), method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        <% end %>
      <% else %>
        <li>No users found.</li>
      <% end %>
    </ul>
  </div>

  <div class="admin-posts">
    <h2>Posted Reviews</h2>
    <ul>
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <li>
            <p>Username: <%= post.user.user_name %></p>
            <p>Title: <%= post.title %></p>
            <p>Comments: <%= post.comments.count %></p>
            <%= link_to 'Delete', destroy_post_admins_dashboard_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        <% end %>
      <% else %>
        <li>No posts found.</li>
      <% end %>
    </ul>
  </div>
</div>